<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebDemo12</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>Ajax1Servlet</servlet-name>
    <servlet-class>cn.itcast.servlet.Ajax1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ajax2Servlet</servlet-name>
    <servlet-class>cn.itcast.servlet.Ajax2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>cn.itcast.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ajax3Servlet</servlet-name>
    <servlet-class>cn.itcast.servlet.Ajax3Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProvinceServlet</servlet-name>
    <servlet-class>cn.itcast.servlet.ProvinceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>cn.itcast.servlet.CityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ajax5Servlet</servlet-name>
    <servlet-class>cn.itcast.servlet.Ajax5Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Ajax1Servlet</servlet-name>
    <url-pattern>/ajax1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ajax2Servlet</servlet-name>
    <url-pattern>/ajax2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ajax3Servlet</servlet-name>
    <url-pattern>/ajax3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProvinceServlet</servlet-name>
    <url-pattern>/province</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CityServlet</servlet-name>
    <url-pattern>/city</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ajax5Servlet</servlet-name>
    <url-pattern>/ajax5</url-pattern>
  </servlet-mapping>
</web-app>